.gifts {
	background: $gift-color;
	color: $fontColor;
	padding: 10px;
	
	.content {
		width: 80%;
		display: flex;
	    flex-wrap: wrap;
	    justify-content: center;

	    p {
	    	font-family: basictitlefont;
    	    font-size: 3rem;
    	    line-heigt: 1.3;
    	    text-shadow: 2px 2px 0 rgba(0,0,0,.5);
	    }

		@media (max-width: 620px) {
			width: 100%;
			justify-content: space-around;
			align-items: center;

		}
		
		.registryItem {
			margin: 20px;
			transition: all 0.3s ease;

			h3 {
				border-bottom: 2px solid transparent;
			}

			&:hover,
			:focus {
				transform: scale(1.1);

				h3 {
					border-bottom: 2px solid $fontColor;
				}
			}
		}

		a {
			color: $fontColor;
		}
	}

	h2 {
		font-size: 10.8rem;
	}
}